<div class="main-content">
    <h1 class="main-heading">LEARN GRAPHICS<br>DESIGN FOR LIFE</h1>
    <div class="icon-container">
        <div class="round-icon">
            <img src="assets/images/svg/round.svg" alt="Round Icon">
        </div>
        <div class="star-icon">
            <img src="assets/images/svg/star.svg" alt="Star Icon">
        </div>
    </div>
    <p class="sub-heading">
        Stay Informed, Stay Ahead: Unveiling the Future of Technology, Gadgets, and<br>
        Innovation<br>Your Gateway to the Digital Universe - Where Innovation Meets Insight
    </p>
    <div class="students-info">
        <span class="students-text"><b>5.1K</b><br>Students All<br>Over World</span>
        <div class="students-icons">
            <div class="icon">
                <img src="assets/images/svg/Ellipse 1.svg" alt="Icon 1">
            </div>
            <div class="icon">
                <img src="assets/images/svg/Ellipse 2.svg" alt="Icon 2">
            </div>
            <div class="icon">
                <img src="assets/images/svg/Ellipse 3.svg" alt="Icon 3">
            </div>
        </div>
    </div>
    <div class="action-container">
        <button class="book-seat-btn">Book Your Seat</button>
        <div class="journey-info">
            <img src="assets/images/svg/play-button.svg" alt="Journey Icon" class="journey-icon">
            <span class="journey-text">See Journey</span>
        </div>
    </div>
</div>
